style.css
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
*.egg-info/
dist/
build/

# IDE configurations
.idea/
.vscode/
*.swp
.DS_Store
